# Auto detect text files and perform LF normalization
* text=auto

# Python
*.py text diff=python

# YAML / Sigma rules
*.yml text
*.yaml text

# Markdown
*.md text diff=markdown

# Shell scripts
*.sh text eol=lf
